<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <div class="bg-primary text-white text-center mb-4 p-4">
    <%= link_to root_path, class: 'text-white' do %>
      <h1 class="display-4">Meu primeiro blog</h1>
    <% end %>

    <p class="lead">
      Olá, esse é meu primeiro blog.
    </p>
  </div>

  <div class="container">
    <%- flash.each do |type, message| %>
      <div class="alert alert-<%= type == 'alert' ? 'danger' : 'success' %> alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <%= form_with url: search_posts_path, method: :get, local: true, class: 'row g-2 offset-8' do |form| %>
      <div class="col-auto">
        <%= form.search_field :q, class: 'form-control', required: true, placeholder: 'Buscar', value: params[:q] %>
      </div>

      <div class="col-auto">
        <%= form.submit 'Buscar', class: 'btn btn-primary mb-3', data: { disable_with: 'Buscando...' } %>
      </div>
    <% end %>
  
    <%= yield %>
  </div>

  <footer class="bg-primary text-white text-center mt-5 p-4">
   Copyright © Eric Araújo <%= Date.current.year %>.
  </footer>
  </body>
</html>
